# Dependencies
node_modules/

# Environment variables
.env
.env.local

# OS files
.DS_Store

# Logs
*.log

dist/
bin/

example/Dependencies/
example/cache/
example/dist/

# Normally you wouldn't ignore these
example/broadcast/
example/app/abis.ts
example/app/addresses.ts

TODO.md

.vscode/